# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Visual Studio specific files - VERY IMPORTANT
.vs/

# Build output folders
[Bb]in/
[Oo]bj/

#ignore packages folder
packages/
ws-bridge/

#ignore AI agent prompts
agentPrompts.md

#ignore app config
App.config