# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Visual Studio specific files - VERY IMPORTANT
.vs/

# Build output folders
[Bb]in/
[Oo]bj/

#ignore packages folder
packages/
ws-bridge/

#ignore app config
App.config

llms-full.md